.avatar-upload {
    position: relative;
    /*max-width: 205px;*/
    width: 100%;
    height: auto;
    /*margin: 50px auto;*/
    display: flex;
    align-items: center;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f067";/*"\f040";*/
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
